div.loading_bar {
  width: 200px;
  height: 4px;
  background-color: #d6cec2;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
div.loading_bar::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  background-color: #0074b4;
  transform: translateX(-20px);
  animation: loop 2s;
}
@keyframes loop {
  0%,
  100% {
    transform: translateX(-48px);
  }
  50% {
    transform: translateX(178px);
  }
}
